/* fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&display=swap');

/* css variables */

:root{

    --header-height: 3rem;

    /* color values */
    --title-color: #0b0a0a;
    --text-color: #403a3a;
    --text-color-light: #707070;
    --container-color: #fafafa;
    --container-color-alt: #f0efef;
    --body-color: #fcfcfc;

    /* font typography */
    --body-font: 'Asap', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .925rem;
    --small-font-size: .850rem;
    --smaller-font-size: .800rem;

    /* font weight */
    --font-medium: 500; 
    --font-semi-bold: 600;      

    /* margins */
    --mb-1: .5rem;
    --mb-2: .1rem;
    --mb-3: 1.5rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;

}

/* base */
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a:link{
    color: var(--text-color-light);
    background-color: transparent;
    text-decoration: none;
}

/* dark theme variables */
body.dark-theme {
    --title-color:#f2f2f2;
    --text-color: #bfbfbf;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2b2b2b;
}

/* dark/light button */
.change-theme {
    position: absolute;
    right: 0;
    top: 2.2rem;
    display: flex;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.change-theme:hover {
    color: var(--title-color);
}

/* font size for scaling cv */
body.scale-cv {
    --h1-font-size: .938rem;
    --h2-font-size: .938rem;
    --h3-font-size: .875rem;
    --normal-font-size: .813rem;
    --small-font-size: .75rem;
    --smaller-font-size: .688rem;
}

/* pdf generator button */
.generate-pdf {
    display: none;
    position: absolute;
    top: 2.2rem;
    left: 0;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}

.generate-pdf:hover {
    color: var(--title-color);
}


/* classes modified to reduce size and print on a4 paper */
.scale-cv .change-theme , .scale-cv .generate-pdf{
    display: none;
}

.scale-cv .bd-container{
    max-width: 595px;
}

.scale-cv .section {
    padding: 1.7rem 0 .80rem;
}

.scale-cv .section-title {
    margin-bottom: .75rem;
}

.scale-cv .resume-left , .scale-cv .resume-right {
    padding: 0 1rem;
}

.scale-cv .home__img {
    width: 100px;
    height: 100px;
}

.scale-cv .home__container {
    gap: 1.5rem;
}

.scale-cv .home__data {
    gap: .25rem;
}

.scale-cv .home__address , .scale-cv .about-me__container {
    gap: .75rem;
}

.scale-cv .home__icon , .scale-cv .about-me__icon , .scale-cv .interests__icon {
    font-size: 1rem;
}

.scale-cv .education__container , .scale-cv .experience__container , .scale-cv .project__container {
    gap: 1rem;
}

.scale-cv .education__time , .scale-cv .experience__time {
    padding-right: .5rem;
}

.scale-cv .education__rounder , .scale-cv .experience__rounder {
    width: 11px;
    height: 11px;
    motion-path: .22rem;
}

.scale-cv .education__line , .experience__line {
    width: 1px;
    height: 110%;
    transform: translate(5px, 0);
}

.scale-cv .education__data , .scale-cv .experience__data {
    gap: .25rem;
}

.scale-cv .skills__name {
    margin-bottom: var(--mb-1);
}

.scale-cv .interests__container {
    column-gap: 2.5rem;
}

body {
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* class css */
.section {
    padding: 1.5rem 0;
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}

/* layout */
.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0,0,0,.1);
    transition: 0.3s;
}

/* nav */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 968px) {
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 1px 4px rgba(0,0,0,.1);
        border-radius: 1rem 1rem 0 0;
        z-index: var(--z-fixed);
        transition: 0.3s;
    }
}

.nav__logo, .nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__item {
    text-align: center;
}

.nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}

.nav_link:hover{
    color: var(--title-color);
}

.nav__icon {
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}

/* show menu */
.show-menu {
    bottom: var(--header-height);
}

/* active menu link */
.active-link {
    color: var(--title-color);
}

/* home */
.home {
    position: relative;
}

.home__container {
    gap: 3rem;
}

.home__data {
    gap: .5rem;
    text-align: center;
}

.home__img {
    width: 135px;
    height: 135px;
    border-radius: 100%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}

.home__title {
    font-size: var(--h1-font-size);
}

.home__profession {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}

.home__address {
    gap: 1rem;
}

.home__information {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}

.home__icon {
    font-size: 1rem;
    margin-right: .35rem;
}

.home__button-movil {
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    border-radius: .25rem;
    transition: .3s;
    font-weight: var(--font-medium);
    margin-top: var(--mb-3);
}

.home__button-movil:hover {
    background-color: var(--text-color);
    color: var(--container-color);
}

/* contact me or social */
.contact-me__container {
    grid-template-columns: max-content;
    gap: 1rem;
}

.contact-me__link {
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.contact-me__link:hover {
    color: var(--text-color);
}

.contact-me__icon {
    font-size: 1rem;
    margin-right: .35rem;
}

/* about me or profile */
.about-me__description {
    text-align: left;
}

/* education and experience */
.education__content, .experience__content {
    display: flex;
}

.education__time, .experience__time {
    padding-right: 1rem;
}

.education__rounder, .experience__rounder {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    background-color: var(--text-color-light);
    border-radius: 100%;
    margin-top: 0;
}

.education__line, .experience__line {
    display:block;
    width: 3px;
    height: 85%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0px);
}

.education__data, .experience__data {
    gap: .5rem;
}

.education__title, .experience__title {
    font-size: var(--h3-font-size);
}

.education__studies, .experience__company {
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.education__year, .education__cgpa {
    font-size: var(--smaller-font-size);
}

/* skills and languages */
.skills__content, .languages__content{
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

/* .languages__content {    
    grid-template-columns: repeat(2, 1fr);
} */

.skills__name, .languages__name {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
}

.skills__circle, .languages__circle, .project__circle {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--text-color);
    border-radius: 100%;
    margin-right: .65rem;
}

/* projects */
.project__title a {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    display: inline-flex;
    align-items: baseline;
    font-size: var(--font-semi-bold);
    color: var(--text-color);
}

.project__title a:hover {
    color: var(--text-color-light);
}

/* interests */
.interests__container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--mb-2);
}

.interests__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests__icon {
    font-size: 1.5rem;
    color: var(--text-color-light);
    margin-bottom: .25rem;
}

/* scroll top */
.scrolltop {
    position: fixed;
    right: 1.5rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    background-color: var(--container-color-alt);
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden; 
}

.scrolltop__icon {
    font-style: 2rem;
    color: var(--text-color);
}

.show-scroll {
    visibility: visible;
    bottom: 4rem;
}

.interests {
    padding-bottom: 10px;
}

/* media queries */
/* for small devices menu two column */
@media screen and (max-width: 320px) {
    .nav__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem .5rem;
    }
}

/* modified classes for large screens */
@media screen and (min-width: 968px) {
    body {
        margin: 3rem 0;
    }

    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .l-header, .scrolltop {
        display: none;
    }

    .resume {
        display: grid;
        grid-template-columns: .5fr 1fr;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(32, 33, 36, 0.25);
        border-radius: 10px;
    }

    .resume__left {
        background-color: var(--container-color-alt);
    }

    .resume__left, .resume__right {
        padding: 0 1.5rem;
    }

    .generate-pdf {
        display: inline-block;
    }

    .section__title, .about-me__description {
        text-align: initial;
    }

    .home__container {
        gap: 1.5rem;
    }

    .home__button-movil {
        display: none;
    }

    .languages__content {
        grid-template-columns: repeat(1, max-content);
        column-gap: 3rem;
    }

    .interests__container {
        grid-template-columns: repeat(max-content);
        column-gap: 3rem;
    }       
}